.bodyCadastro{
	display: flex;
	align-items: center;
	width: 100%;
	height: 95.4vh;
	
	.topCadastro{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
		.titleCadastro{
			font-size: 45px;
			font-weight: bold;
		}
		
		.titleCadastroForm{
			font-size: 28px;
			margin: 0 0 20px 0;
		}
	}
	
	.midBoxCadastro{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 200px;
		margin: 30px 0;
	}

	.boxCadastro{
		width: 70%;
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;
		padding: 200px 50px 200px 50px;
		background-color: #f0f8ff;
		border-radius: 50px;
		box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);

		.formCadastro{
			gap: 10px;
			margin: 0 50px;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.textLabel{
				font-size: 18px;
				margin: 0 20px;
			}

			.labelFormCadastro{
				display: flex;
				justify-content: start;
				flex-direction: column;
				margin: 0;
				padding: 0;
	 		}

			.inputNome{
				margin: 5px 0 20px 0;
				padding: 10px 250px 10px 20px;
				border: solid 1px rgb(37, 147, 161);
				border-radius: 13px;
				font-size: 20px;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				background-color: aliceblue;
			}

			.inputCpf{
				margin: 5px 0 20px 0;
				padding: 10px 250px 10px 20px;
				border: solid 1px rgb(37, 147, 161);
				border-radius: 13px;
				font-size: 20px;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				background-color: aliceblue;
			}

			.inputEmail{
				margin: 5px 0 20px 0;
				padding: 10px 250px 10px 20px;
				border: solid 1px rgb(37, 147, 161);
				font-size: 20px;
				border-radius: 13px;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				background-color: aliceblue;
			}

			.inputSenha{
				margin: 5px 0 0 0;
				padding: 10px 250px 10px 20px;
				border: solid 1px rgb(37, 147, 161);
				font-size: 20px;
				border-radius: 13px;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				background-color: aliceblue;
			}

			.inputConfirmaSenha{
				margin: 0 0 10px 0;
				padding: 10px 250px 10px 20px;
				border: solid 1px rgb(37, 147, 161);
				font-size: 20px;
				border-radius: 13px;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				background-color: aliceblue;
			}
			
			.buttonCadastro{
				margin: 10px 1px 0 1px;
				padding: 10px 150px 10px 150px;
				border: solid 1px rgb(56, 81, 151);
				font-size: 20px;
				background-color: rgb(13, 95, 172);
				color: aliceblue;
				border-radius: 20px;
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
				&:hover{
					background-color: rgb(2, 73, 139);
					border: solid 1px rgb(62, 107, 153);
					cursor: pointer;
				}
			}
		}
	}

	.divImgCadastro{
		margin: 0 0 80px 0;
	}

	.boxRedirectLogin{
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px 0 0 0;
		padding: 0 0 0 20px;

		.textRedirectLogin{
			font-size: 20px;
			padding: 0 10px 0 0;
		}

		.buttonRedirectLogin{
			text-align: center;
			margin: 0;
			padding: 10px 60px 10px 60px;
			border: solid 1px rgb(56, 81, 151);
			background-color: rgb(13, 95, 172);
			color: aliceblue;
			border-radius: 20px;
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
			&:hover{
				background-color: rgb(2, 73, 139);
				border: solid 1px rgb(62, 107, 153);
			}
		}
	}
}