.bodyLogin{
	display: flex;
	margin: auto;
	padding: auto;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 95.4vh;
	
	.boxLogin{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 80%;
		height: 83%;
		padding: 0;
		border-radius: 50px;
		background-color: #f0f8ff;
		box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);    
		
		.titleLogin{
			font-size: 50px;
			font-weight: bold;
		}

		.midBoxLogin{
			display: flex;
			gap: 300px;
			margin: 90px 0 0 0;
		}
		.boxListLogin{
			justify-items: center;
			flex-direction: column;
			
			.formLogin{
				display: flex;
				align-items: center;
				padding: 0px 0 20px 0;
				flex-direction: column;
		
				.inputEmail{
					margin: 5px 0 20px 0;
					padding: 10px 250px 10px 20px;
					border: solid 1px rgb(37, 147, 161);
					font-size: 20px;
					border-radius: 13px;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					background-color: aliceblue;
				}
		
				.inputSenha{
					margin: 5px 0 20px 0;
					padding: 10px 250px 10px 20px;
					border: solid 1px rgb(37, 147, 161);
					font-size: 20px;
					border-radius: 13px;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					background-color: aliceblue;
				}
				
				.buttonEntrar{
					margin: 10px 0 0 0;
					padding: 5px 150px 5px 150px;
					border: solid 1px rgb(56, 81, 151);
					font-size: 20px;
					background-color: rgb(13, 95, 172);
					color: aliceblue;
					border-radius: 20px;
					box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
					&:hover{
						background-color: rgb(2, 73, 139);
						border: solid 1px rgb(62, 107, 153);
						cursor: pointer;
					}	
				}
			}
		}
	}
	
	.boxRedirectCadastro{
		gap: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin:  50px 0 50px 0;

		.textRedirectCadastro{
			font-size: 30px;
		}

		.buttonRedirectCadastro{
			padding: 5px 145px 5px 145px;
			border: solid 1px rgb(56, 81, 151);
			background-color: rgb(13, 95, 172);
			font-size: 20px;
			color: aliceblue;
			border-radius: 20px;
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
			&:hover{
				background-color: rgb(2, 73, 139);
				border: solid 1px rgb(62, 107, 153);
			}	
		}
	}
}    