.bodyPerfil{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .boxPerfil{
    display: flex;
		flex-direction: row;
    width: 97%;
		height: 90vh;
    margin: 20px 0 20px 0;
    padding: 50px 30px 50px 30px;
		border-radius: 50px;
		background-color: #f3f4f6;
		box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);

    .menuPerfil{
      display: flex;
      flex-direction: column;
      width: 25%;
      background-color: #ffffff;
      border-radius: 50px;
      margin: 0 30px 0 0;
      padding: 60px 30px;
      box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.10);

      .itemListMenuPerfil{
        font-size: 24px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 15px;
        &:hover{
          transform: scale(1.05);
          background-color: #e5e7eb;
        }
        
        .buttonListMenuPerfil{
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          margin: 20px 0;
          padding: 10px ;
          border: 1px solid #e5e7eb;
          box-shadow: 0px 2px 2px rgba(0, 0, 0.10, 0.20);
          cursor: pointer;
          width: 100%;
        }
      }
    }
  }
}